body {
  padding: 15px;
}

.casedata {
  font-weight: bold;
  color: maroon;
}

#id01, #id03, #id04 {
  color: orangered;
  text-decoration: underline;
}

.labels {
  font-family: "Arial, Tahoma";
  font-weight: bold;
  color: blue;
}

.labels.d_suburb {
  font-weight: bold;
  color: orangered;
}

.labels.d_venue {
  font-weight: bold;
  color: orange;
}

.labels.d_address {
  font-weight: bold;
  color: blue;
}

.labels.d_datetime {
  font-weight: bold;
  color: blue;
}

.labels.d_alert {
  color: red;
}

.labels.d_advice {
  color: green;
}

/* .fixed_header {
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed_header tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 575px;
}

.fixed_header thead tr {
  display: block;
}

.table>:not(caption)>*>* {
  border-bottom-width: 0px;
} */
/* .fixed_header thead {
  background: black;
  color: #fff;
}

.fixed_header th,
.fixed_header td {
  padding: 5px;
  text-align: left;
  width: 100%;
} */

.fixed_header .thSuburb, .fixed_header .tdSuburb {
  text-align: left;
  vertical-align: middle;
  width: 150px;
}

.fixed_header .thVenue, .fixed_header .tdVenue {
  text-align: left;
  vertical-align: middle;
  width: 200px;
}

.fixed_header .thAddress, .fixed_header .tdAddress {
  vertical-align: middle;
  width: 200px;
}

.fixed_header .thDate, .fixed_header .tdDate,
.fixed_header .thUpdate, .fixed_header .tdUpdate {
  text-align: center;
  vertical-align: middle;
  width: 150px;
}

.fixed_header .thTime, .fixed_header .tdTime {
  text-align: center;
  vertical-align: middle;
  width: 150px;
}

/* .fixed_header .thUpdate, .fixed_header .tdUpdate {
  width: 200px;
} */

.fixed_header .thAlert, .fixed_header .tdAlert {
  vertical-align: middle;
  width: 200px;
}

.fixed_header .thAdvice, .fixed_header .tdAdvice {
  vertical-align: middle;
  width: auto;
}

.borderless td, .borderless th {
  border: none;
}

.dInput {
  width: 300px; 
  vertical-align: middle;
}

.dInput.dResults {
  width: auto; 
}

.btn-load,.btn-suburb {
  font-weight: bold;
}

.btn-load {
  width: 300px;
}

.btn-suburb {
  /* color: #0055bb; */
  /* color: black; */
  font-size: .75rem;
  margin: 4px 4px;
  padding: 2px 6px;
}